.inriaSerif {
        font-family: "Inria Serif", serif;
    }

    .bgPersonalizado {
        background-color: plum;
    }

    .shadowP {
        box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.5);
    }